body {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f5f5f5;
    overflow-y: scroll;
}

/*** START of Footer ***/
footer {
    position: fixed;
    height: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}
footer .footer-content {
    margin-top: 15px;
}
/*** END of Footer ***/

/*** START of Login Form ***/
.form-login {
    background-color: #EDEDED;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}
h4 {
    border:0 solid #fff;
    border-bottom-width:1px;
    padding-bottom:10px;
    text-align: center;
}
h4.left {
    text-align: left;
}
h5 {
    font-weight: bold;
}
.wrapper {
    text-align: center;
}
/*** END of Login Form ***/

/* Flat Design */
input, button, select, .btn, .modal-dialog, .modal-content, .alert, textarea, .panel, .nav-pills li a, .well, .navbar {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.row-fluid {
    margin-bottom: 15px;
    min-height: 30px;
}

form label {
    margin-top: 15px;
}

.bold {
    font-weight: bold;
}

/* Custom max-height for colapsible menu */
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 370px !important;
}

.nav.navbar-nav a{
    cursor: pointer;
}

h3 {
    margin-top: 10px;
}

.fakelink {
    cursor: pointer;
}

ul.nobullets {
    margin-bottom: 10px;
    padding-left: 15px;
}
ul.nobullets li {
    list-style-type: none;
}

button.btn-corner {
    z-index: 100;
    position: absolute;
    right: 30px;
}
