<div id="page" class="maincontent">

    <h1>Terrariums</h1>
    <br/>

    <div ng-if="!terDetails && !thingyDetails" class="row">
        <div ng-repeat="terrarium in terrariums" class="col-lg-6">
            <div class="panel panel-info">
                <div ng-click="showTerDetails(terrarium)" class="panel-heading">
                    <h3 class="panel-title">{{terrarium.name}}</h3>
                </div>
                <div class="panel-body">
                    <h3>Thingies</h3>
                    <ul>
                        <li ng-repeat="thingy in terrarium.thingies">
                            <a ng-click="showThingyDetails(terrarium, thingy)">{{thingy.description}} ({{thingy.macAddress}})</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>