<div id="page" class="maincontent">

    <h1>Terrariums<span ng-if="showSpinner"> <i class="fa fa-spinner fa-spin"></i></span></h1>
    <br/>

    <div>
        <div ng-if="!terDetails && !thingyDetails">
            <button class="btn btn-primary" ng-click="loadData()"><i class="fa fa-fw fa-refresh"></i>reload data</button>
            <button class="btn btn-success pull-right" ng-click="showCreateTerrarium()"><i class="fa fa-fw fa-refresh"></i>create terrarium</button>
        </div>
        <div ng-if="terDetails || thingyDetails">
            <button class="btn btn-primary" ng-click="loadData()"><i class="fa fa-fw fa-backward"></i>overview</button>
        </div>
    </div>
    <br/>

    <div ng-if="!terDetails && !thingyDetails" class="row">
        <div ng-repeat="terrarium in terrariums" class="col-lg-6">
            <div class="panel panel-info">
                <div ng-click="showTerDetails(terrarium)" class="panel-heading">
                    <h3 class="panel-title">{{terrarium.name}}</h3>
                </div>
                <div class="panel-body">
                    <h3>Thingies</h3>
                    <ul>
                        <li ng-repeat="thingy in terrarium.thingies">
                            <a ng-click="showThingyDetails(terrarium, thingy)">{{thingy.description}} ({{thingy.macAddress}})</a>
                        </li>
                        <li ng-if="!terrarium.thingies || terrarium.thingies.length === 0">
                            Terrarium has no Thingies
                        </li>
                    </ul>
                    <button class="btn btn-primary pull-right" ng-click="showTerDetails(terrarium)"><i class="fa fa-fw fa-info"></i>show details</button>
                    <button ng-if="!terrarium.default" class="btn btn-danger pull-right" ng-click="showDeleteTerrarium(terrarium)"><i class="fa fa-fw fa-trash"></i>delete</button>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="terDetails" class="row">
        <div ng-repeat="thingy in terDetails.thingies" class="col-lg-6">
            <div class="panel panel-info">
                <div ng-click="showThingyDetails(terDetails, thingy)" class="panel-heading">
                    <h3 class="panel-title">{{thingy.description}} ({{terDetails.name}})</h3>
                </div>
                <div class="panel-body">
                    <h3>Sensor Data</h3>
                    <ul>
                        <li>Humidity:</li>
                        <ul>
                            <li>{{thingy.humidities[0].value}} {{thingy.humidities[0].unit.short}}</li>
                            <li>Date: {{thingy.humidities[0].timestamp | date : 'dd.MM.yyyy - HH:mm'}}</li>
                        </ul>

                        <li>Air Quality:</li>
                        <ul>
                            <li>TVOC: {{thingy.airQualities[0].tvoc.value}} {{thingy.airQualities[0].tvoc.unit.short}}</li>
                            <li>CO2: {{thingy.airQualities[0].co2.value}} {{thingy.airQualities[0].co2.unit.short}}</li>
                            <li>Date: {{thingy.airQualities[0].timestamp | date : 'dd.MM.yyyy - HH:mm'}}</li>
                        </ul>

                        <li>Temperature:</li>
                        <ul>
                            <li>{{thingy.temperatures[0].value}} {{thingy.temperatures[0].unit.short}}</li>
                            <li>Date: {{thingy.temperatures[0].timestamp | date : 'dd.MM.yyyy - HH:mm'}}</li>
                        </ul>
                    </ul>
                    <button class="btn btn-primary pull-right" ng-click="showThingyDetails(terDetails, thingy)"><i class="fa fa-fw fa-info"></i>show details</button>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="thingyDetails" class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{thingyDetails.description}} - Status</h3>
                </div>
                <div class="panel-body">
                    <h3>Sensor Data</h3>
                    <ul>
                        <li>Humidity:</li>
                        <ul>
                            <li>{{thingyDetails.humidities[0].value}} {{thingyDetails.humidities[0].unit.short}}</li>
                            <li>Date: {{thingyDetails.humidities[0].timestamp | date : 'dd.MM.yyyy - HH:mm'}}</li>
                        </ul>

                        <li>Air Quality:</li>
                        <ul>
                            <li>TVOC: {{thingyDetails.airQualities[0].tvoc.value}} {{thingyDetails.airQualities[0].tvoc.unit.short}}</li>
                            <li>CO2: {{thingyDetails.airQualities[0].co2.value}} {{thingyDetails.airQualities[0].co2.unit.short}}</li>
                            <li>Date: {{thingyDetails.airQualities[0].timestamp | date : 'dd.MM.yyyy - HH:mm'}}</li>
                        </ul>

                        <li>Temperature:</li>
                        <ul>
                            <li>{{thingyDetails.temperatures[0].value}} {{thingyDetails.temperatures[0].unit.short}}</li>
                            <li>Date: {{thingyDetails.temperatures[0].timestamp | date : 'dd.MM.yyyy - HH:mm'}}</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{thingyDetails.description}} - Settings</h3>
                </div>
                <div class="panel-body">
                    <h3>Sensor Configuration</h3>
                    
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'static/templates/modals/createTerrariumModal.html'"></div>
    <div ng-include="'static/templates/modals/deleteTerrariumModal.html'"></div>

</div>