<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Termon - Web Client</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/static/css/custom.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/drag.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/ngToast.min.css" />

    <script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>

</head>
<body ng-app="termonWebClient" ng-controller="authCtrl">

<!-- Content -->
<div data-ui-view></div>
<!-- Content -->

<!-- jQuery -->
<script src="/static/lib/jquery/jquery-3.2.1.min.js"></script>

<!-- JS for Bootstrap -->
<script src="/static/lib/bootstrap/bootstrap.min.js"></script>

<!-- AngularJS -->
<script src="/static/lib/angular/angular.min.js"></script>
<script src="/static/lib/angular/angular-animate.min.js"></script>
<script src="/static/lib/angular/angular-aria.min.js"></script>
<script src="/static/lib/angular/angular-cookies.min.js"></script>
<script src="/static/lib/angular/angular-loader.min.js"></script>
<script src="/static/lib/angular/angular-messages.min.js"></script>
<script src="/static/lib/angular/angular-resource.min.js"></script>
<script src="/static/lib/angular/angular-route.min.js"></script>
<script src="/static/lib/angular/angular-sanitize.min.js"></script>
<script src="/static/lib/angular/angular-touch.min.js"></script>
<script src="/static/lib/angular/angular-ui-router.min.js"></script>
<script src="/static/lib/angular/ngDraggable.js"></script>
<script src="/static/lib/angular/ngToast.min.js"></script>

<!-- AngularJS APP -->
<script src="/static/js/app.js"></script>

<!-- AngularJS Services -->
<script src="/static/js/services/authService.js"></script>
<script src="/static/js/services/dataService.js"></script>

<!-- AngularJS Filters -->
<script src="/static/js/filters/lineFilter.js"></script>

<!-- AngularJS Interceptors -->
<script src="/static/js/interceptors/authInterceptor.js"></script>

<!-- AngularJS Directives -->

<!-- AngularJS Controllers -->
<script src="/static/js/controller/authCtrl.js"></script>
<script src="/static/js/controller/loginCtrl.js"></script>
<script src="/static/js/controller/registerCtrl.js"></script>
<script src="/static/js/controller/pNavigationCtrl.js"></script>
<!-- AngularJS Controllers -->
<script src="/static/js/controller/homeCtrl.js"></script>
<script src="/static/js/controller/terrariumsCtrl.js"></script>
<script src="/static/js/controller/historyCtrl.js"></script>
<script src="/static/js/controller/profileCtrl.js"></script>
<script src="/static/js/controller/logoutCtrl.js"></script>
<script src="/static/js/controller/navigationCtrl.js"></script>
<!-- endbuild -->

</body>
</html>